<!-- Toolbar -->
<!-- <div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
  />
  <span>Angular Material Design</span>
</div> -->

<div class="content" role="main">
  <!-- Date Picker Angular Material -->
  <!-- <app-date-picker></app-date-picker> -->

  <!-- Address Form created w/Schematics Angular MAterial -->
  <!-- <app-formulario-direccion></app-formulario-direccion> -->

  <!-- Table created w/Schematics Angular MAterial -->
  <!-- <app-tabla-component></app-tabla-component> -->

  <!-- Tree created w/Schematics Angular MAterial -->
  <!-- <app-arbol></app-arbol> -->

  <!-- Drag&Drop created w/Schematics Angular MAterial -->
  <app-drag-drop></app-drag-drop>
  
</div>


  <!-- Navigation Tabs created w/Schematics Angular Material -->
  <!-- <app-nav-component></app-nav-component> -->

  <!-- Dashboard created w/Schematics Angular Material -->
  <!-- <app-dashboard></app-dashboard> -->

<router-outlet></router-outlet>