button {
    padding: 15px;
    cursor: pointer;
    width: 150px;
}
button:hover {
    background-color: green;
    color: white;
}
button::before {
    content: "Pasa por encima"
}
button:hover::before {
    content: "¡Hecho!"
}