<h1>Select your invisible friend:</h1>

<div class="grid">
    <div *ngFor="let user of randomUserList; let i = index">
        <img src="{{ user.picture.thumbnail }}" alt="">
        <div routerLink="{{ user.id.value }}" [state]="{data: user, filter: genderFilter}">
            <h3 class="user">
                {{ user.name.first }} {{ user.name.last }}
            </h3>
        </div>
        <button mat-raised-button color="primary" (click)="backToHome(user)">Select</button>
    </div>
</div>

<div *ngIf="genderFilter == 'female' || genderFilter == 'male'">
    <p>Showing {{ genderFilter }} friends</p>
</div>

<a routerLink="/home">Back to home</a>