<h1>Select your invisible friend:</h1>

<div *ngIf="genderFilter == 'female' || genderFilter == 'male'">
    <p>Showing only {{ genderFilter }} friends</p>
</div>

<div *ngIf="loading">
    <mat-spinner></mat-spinner>
    <h5>Loading...</h5>
</div>

<div class="grid">
    <div class="card" *ngFor="let user of randomUserList; let i = index">
        <div class="contact">
            <img src="{{ user.picture.thumbnail }}" alt="">
            <div class="name" routerLink="{{ user.id.value }}" [state]="{data: user, filter: genderFilter}">
                <h3 class="user">
                    {{ user.name.first }} {{ user.name.last }}
                </h3>
            </div>
        </div>
        <button mat-mini-fab color="accent" (click)="backToHome(user)">
            <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon>
        </button>
    </div>
</div>

<a routerLink="/dashboard">Back to home</a>