:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:40px
}
.user:hover {
    color: blue;
    cursor: pointer;
}
.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            250px,
            1fr
        )
    );
    gap:16px;
    .card {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        border: solid 1px #ccc;
        padding: 10px;
        border-radius: 4px;
        gap: 15px;
        .contact {
            display: flex;
            flex-direction: row;
            align-content: center;
            gap: 15px;
            .name {
                display: flex;
                align-items: center;
            }
        }
    }
}
img {
    border-radius: 100px;
}