<h1>Invisible friend</h1>
<h3>Welcome!</h3>


<ng-container *ngIf="selectedContact; else notSelected">
    <h4 >Invisible friend selected: {{ selectedContact.name.first }}</h4>
</ng-container>
<ng-template #notSelected>
    <div>
        <p>Choose your invisible friend!</p>
    </div>
</ng-template>

<!-- Login -->
<a *ngIf="!token" routerLink="/login">Login</a>

<button mat-raised-button color="primary" (click)="navigateToContacts()">View all your contacts</button>
<!-- <button mat-raised-button color="primary" (click)="navigateToRandomUser()">Generate random users</button> -->
<br>
<br>
<div>
    <p>Filters:</p>
    <a [routerLink]="['/contacts']" [queryParams]="{genderFilter: 'female'}">Women</a> | 
    <a [routerLink]="['/contacts']" [queryParams]="{genderFilter: 'male'}">Men</a>
</div>