<h1>Invisible friend app</h1>
<h3>Welcome!</h3>


<ng-container *ngIf="selectedContact; else notSelected">
    <h4 >Invisible friend selected: {{ selectedContact.name.first }}</h4>
</ng-container>
<ng-template #notSelected>
    <div>
        <p>Please navigate to contacts to select your Invisible Friend!</p>
    </div>
</ng-template>
<br>
<br>
<button mat-raised-button color="primary" (click)="navigateToContacts()">View all your contacts</button>
<!-- <button mat-raised-button color="primary" (click)="navigateToRandomUser()">Generate random users</button> -->
<br>
<br>
<div class="filters">
    <p>Filters:</p>
    <div>
        <a [routerLink]="['/dashboard/contacts']" [queryParams]="{genderFilter: 'female'}">Women</a> |
        <a [routerLink]="['/dashboard/contacts']" [queryParams]="{genderFilter: 'male'}">Men</a>
    </div>
</div>